/*................................................
    1. BASIC STYLING FOR COMMON HTML ELEMENTS
.................................................*/
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
        url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';    font-weight: 300;
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
        url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
        url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    min-height: 100%;
}
html, button, input, select, textarea {
    font-family: Helvetica, sans-serif;
    color: #222;
}
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'roboto';
    color: #72726b;
}
::-moz-selection {
    background: #80b13d;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #504F4A;
    color: white;
    text-shadow: none;
} /* color: #C43527 */
a, input[type="button"] {
    cursor: pointer;
    text-decoration: none;
}
a {
    color: #58585a;
}
a:focus, a:hover {
    color: #e00015;
    text-decoration: none;
}
img, input, textarea, fieldset {
    border: 0px;
    outline: none;
    resize: none;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;/*width: auto\9;*/
}
select {
    padding: 2px;
}
input[type="text"], textarea {
    color: #4f5050;
}
input[type="text"], textarea, input[type="email"], input[type="tel"] {
    border: 1px solid #dbdada;
}
textarea {
    overflow: auto;
}
ul li {
    list-style-type: none;
}
h1, h2, h3, h4, h5 {
    font-weight: normal;
}
address {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
}
/*................................................
    3. COMMON CSS CLASSES
.................................................*/
.wrapper { position: relative;width: 100%;margin: 0 auto;}
.wrapper:before, .wrapper:after {content: "";display: table;line-height: 0;}
.wrapper:after {clear: both;}
.flt_lt {float: left;}
.flt_rt {float: right;}
/*.container{width: 100%;overflow: hidden;clear: both;display: block;}*/
.container:before, .container:after {content: "";display: table;line-height: 0;}
.container:after {clear: both;}
.clear {clear: both;}
.full-block{width: 100%;display: block;clear: both;}
.table {
    width:100%;
    display:table;
    vertical-align:middle;
}
.table-cell {
    width:100%;
    display:table-cell;
    vertical-align:middle;
}
h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 19px;
    color: #333;
}
h5 {
    margin-bottom: 10px;
    font-size: 19px;
    color: #888;
}
p {
    /*    font-size: 17px;*/
    margin-bottom: 20px;
    color: #444;
    line-height: 1.6em;
}
p:last-child {
    margin-bottom: 0;
}
.border{
    border: 1px solid #ddd;
    padding: 20px;
}
.radius{
    border-radius: 5px;
}
header {
    padding: 25px 50px;
    clear: both;
    width: 100%;
    display: table;
}
.sign-in{
    color:  #b0b0b0;
    font-size: 15px;
    font-weight: 500;
    line-height: 43px;
    text-align: right;
}
.green-btn{
    background: -webkit-linear-gradient(-32deg, #6cbb25 22%, #6cc71b 78%);
    background: -moz-linear-gradient(-32deg, #6cbb25 22%, #6cc71b 78%);
    background: -o-linear-gradient(-32deg, #6cbb25 22%, #6cc71b 78%);
    background: -ms-linear-gradient(-32deg, #6cbb25 22%, #6cc71b 78%);
    background: linear-gradient(122deg, #6cbb25 22%, #6cc71b 78%);
    border-radius: 20px;
    width: 179px;
    height: 43px;
    color:  rgba(255, 255, 255, 0.75);
    font-size: 15px;
    font-weight: 500;
    line-height: 43px;
    text-align: center;
}
h1{
    color:  #000000;
    font-size: 44px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}
.search-bar{
    background-color:  #ffffff;
    box-shadow: 0px 0px 40px 0px rgba(226, 62, 24, 0.2);
    width: 920px;
    height: 74px;
    border-radius: 40px;
    margin: 30px auto;
    margin-bottom: 100px;
}
h3{
    color:  #090909;
    font-size: 28px;
    font-weight: 400;
    line-height: 24px;
}

.red{
    color:  #e10e16;
}
.slider-container {
    width: 100%;
    margin: 20px auto;
    position: relative;
    padding: 40px 20px 10px;
}
.v-space{width: 100%;height: 20px;background: transparent;}
.v-space-large{width: 100%;height: 40px;background: transparent;}
.v-space-100{width: 100%;height: 50px;background: transparent;}
.home-content{padding-top: 100px;}
.slide-item{
    width: 255px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(8, 107, 119, 0.06);
}
.home-slider .slide-item img{border-radius: 50%;width: 52px;height: 52px;margin-right: 10px;}
.home-slider{
    background: transparent;
    width: 100%;
    border: none;
}
.home-slider ul.slides li{
    width: 255px;
    margin-right: 25px;
    border-radius: 10px;
    background-color:  #ffffff;
    box-shadow: 0px 0px 21px 0px rgba(8, 107, 119, 0.06);
    -webkit-box-shadow: 0px 0px 21px 0px rgba(8, 107, 119, 0.06);
}
.border-line{
    background-color:  #f3f3f3;
    height: 2px;
    width: 100%;
}
.slide-item h5 {
    font-size: 21px;
    font-weight: 700;
    color: #333;
}

.slide-item span{
    color:  #8d8d8d;
    font-size: 15px;
    font-weight: 400;
}
.slide-item p{
    color:  #282828;
    font-size: 15px;
    font-weight: 400;
}
.slide-item a{
    background: -webkit-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -moz-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -o-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -ms-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: linear-gradient(122deg, #e00015 26%, #e34d19 74%);
    width: 210px;
    height: 43px;
    color:  rgba(255, 255, 255, 0.75);
    font-size: 15px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    padding: 5px;
    display: block;
    border-radius: 20px;
}
footer{
    background-color:  #f6fdfc;
    padding: 30px;
    width: 100%;
    clear: both;
    overflow: hidden;
    height: 288px;
}
.footer-part{
    width: 25%;
    float: left;
}
footer h5{
    color:  #000000;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
}
footer p {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
}
.search-btn{
    border-radius: 50%;
    background: -webkit-linear-gradient(-32deg, #e00015 6%, #e34d19 94%);
    background: -moz-linear-gradient(-32deg, #e00015 6%, #e34d19 94%);
    background: -o-linear-gradient(-32deg, #e00015 6%, #e34d19 94%);
    background: -ms-linear-gradient(-32deg, #e00015 6%, #e34d19 94%);
    background: linear-gradient(122deg, #e00015 6%, #e34d19 94%);
    width: 62px;
    height: 62px;
    display: block;
    text-align: center;
    padding-top: 12px;
    margin-top: 5px;
    margin-right: 10px;
}
.search-bar input {
    border: none;
    background: transparent;
    float: left;
    width: 398px;
    border-right: 2px solid #ededed;
    margin-right: 20px;
    color: #717171;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 20px;
    margin-top: 24px;
    margin-left: 50px;
    outline: none;
    line-height: 1.6em;
}
.search-bar select{
    border: none;
    background: transparent;
    float: left;
    width: 145px;
    color:  #717171;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 18px;
    padding-right: 20px;
    outline: none;
}
.home-slider .flex-control-nav a{background-color:  rgba(255, 255, 255, 0.35);width: 16px;height: 16px;border:none;}
.flex-control-paging li a.flex-active{background-color:  rgba(255, 255, 255, 0.75);border:none;}

/*Splash page style*/
body.splash-page{
    background: url(../images/splash-bg.png) no-repeat right center/cover;
}
.splash-page h1{
    color:  #ffffff;
    font-size: 30px;
    font-weight: 300;
    line-height: 41px;
    text-align: right;
    opacity: 0.9;
}
.splash-page p{
    color:  #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    opacity: 0.8;
}
.splash{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.splash .search-bar{
    width: 100%;
}
.splash .search-bar input{
    width: 78%;
    max-width: 100%;
    border-right: 0;
    font-size: 14px;
    line-height: 31px;
}
.splash-content{
    width:678px;
    margin: 0 auto;
}
.splash .separator{
    background-color:  rgba(255, 255, 255, 0.27);
    width: 1px;
    height: 45px;
    margin: 0 20px;
}
.splash .top-block{padding: 20px 45px;}
.splash .top-block-p{padding: 20px 28px;}
.splash .social a{margin: 7px;}
.splash-page p.copy{font-size: 15px;}

/*Sign up page style*/
body.signup-page{
    background: url(../images/splash-bg.png) no-repeat right center/cover;
    /*    background: -webkit-linear-gradient(-32deg, #1796bd 2%, #00c4aa 98%);
        background: -moz-linear-gradient(-32deg, #1796bd 2%, #00c4aa 98%);
        background: -o-linear-gradient(-32deg, #1796bd 2%, #00c4aa 98%);
        background: -ms-linear-gradient(-32deg, #1796bd 2%, #00c4aa 98%);
        background: linear-gradient(122deg, #1796bd 2%, #00c4aa 98%);*/
}
#signup-form{padding-top: 10%;margin: 0 auto;max-width: 500px;}
#signup-form h1{
    color:  #ffffff;
    font-size: 36px;
    font-weight: normal;
    line-height: 28px;
    font-family: 'roboto';    font-weight: 300;
    margin-bottom: 25px;
}
#signup-form h1 img{margin-right: 30px;}
#signup-form input{
    width: 350px;
    margin: 5px 100px;
    padding: 5px 40px;
    height: 57px;
    border-radius: 40px;
    color:  #383838;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    background: #fff;
    border: none;
    box-shadow: none;
}
#signup-form input[type="submit"]{
    color: #fff;
    font-weight: 500;
    background-color:  #23d9c1;
    font-family: 'roboto';
    margin-top: 20px;
}
#signup-form a{
    color:  #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    border: 1px solid #23d9c1;
    width: 298px;
    height: 36px;
    margin: 20px auto;
    display: block;
    border-radius: 40px;
    text-align: center;
}
#signup-form a img{margin-left: 10px;}
#signup-form ::-webkit-input-placeholder {
    color: #383838;
}

#signup-form :-moz-placeholder { /* Firefox 18- */
    color: #383838;  
}

#signup-form ::-moz-placeholder {  /* Firefox 19+ */
    color: #383838;  
}

#signup-form :-ms-input-placeholder {  
    color: #383838;  
}


/*Sign up page style*/
body.signin-page{
    background: url(../images/splash-bg.png) no-repeat right center/cover;
    /*    background: -webkit-linear-gradient(-32deg, #1796bd 2%, #00c4aa 98%);
        background: -moz-linear-gradient(-32deg, #1796bd 2%, #00c4aa 98%);
        background: -o-linear-gradient(-32deg, #1796bd 2%, #00c4aa 98%);
        background: -ms-linear-gradient(-32deg, #1796bd 2%, #00c4aa 98%);
        background: linear-gradient(122deg, #1796bd 2%, #00c4aa 98%);*/
}
#signin-form{padding-top: 10%;margin: 0 auto;max-width: 500px;}
#signin-form h1{
    color:  #ffffff;
    font-size: 36px;
    font-weight: normal;
    line-height: 28px;
    font-family: 'roboto';    font-weight: 300;
    font-weight: 300;
    margin-bottom: 25px;
}
#signin-form h1 img{margin-right: 30px;}
#signin-form input{
    width: 350px;
    margin: 5px 100px;
    padding: 5px 40px;
    height: 57px;
    border-radius: 40px;
    color:  #383838;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    background: #fff;
    border: none;
    box-shadow: none;
}
#signin-form input[type="submit"]{
    color: #fff;
    font-weight: 500;
    background-color:  #23d9c1;
    font-family: 'roboto';
    margin-top: 20px;
}
#signin-form a{
    color:  #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    border: 1px solid #23d9c1;
    width: 298px;
    height: 36px;
    margin: 20px auto;
    margin-bottom: 5px;
    display: block;
    border-radius: 40px;
    text-align: center;
}
#signin-form a img{margin-left: 10px;}
#signin-form ::-webkit-input-placeholder {
    color: #383838;
}

#signin-form :-moz-placeholder { /* Firefox 18- */
    color: #383838;  
}

#signin-form ::-moz-placeholder {  /* Firefox 19+ */
    color: #383838;  
}

#signin-form :-ms-input-placeholder {  
    color: #383838;  
}
#signin-form a.fgt-pwd-link{
    border: none;
    margin-top: 0;
}



.placeholder-dark::-webkit-input-placeholder {
    color: #333;
}

.placeholder-dark:-moz-placeholder { /* Firefox 18- */
    color: #333;  
}

.placeholder-dark::-moz-placeholder {  /* Firefox 19+ */
    color: #333;  
}

.placeholder-dark:-ms-input-placeholder {  
    color: #333;  
}


.placeholder-white::-webkit-input-placeholder {
    color: #fff;
}

.placeholder-white:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.placeholder-white::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

.placeholder-white:-ms-input-placeholder {  
    color: #fff;
}



/* upload a listing */
.upload-listing-content form{padding: 50px 0;margin: 0 auto;}
.upload-listing-content .form-contents {
    padding: 50px 150px;
    position: relative;
}
.upload-listing-content h1{
    background: -webkit-linear-gradient(-32deg, #1796bd 38%, #00c4aa 62%);
    background: -moz-linear-gradient(-32deg, #1796bd 38%, #00c4aa 62%);
    background: -o-linear-gradient(-32deg, #1796bd 38%, #00c4aa 62%);
    background: -ms-linear-gradient(-32deg, #1796bd 38%, #00c4aa 62%);
    background: linear-gradient(122deg, #1796bd 38%, #00c4aa 62%);
    color:  rgba(255, 255, 255, 0.8);
    font-family: 'roboto';    font-weight: 300;    font-weight: 300;
    font-size: 28px;
    font-weight: 300;
    line-height: 124px;
    text-align: right;
    height: 123px;
    text-align: center;
}

.upload-listing-content h3{
    font-family: 'roboto';    font-weight: 300;    font-weight: 300;
    color:  #000000;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}
.upload-listing-content h4{
    font-family: 'roboto';    font-weight: 300;    font-weight: 300;
    color:  #000000;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
}
.upload-listing-content p.grey-info{
    color:  #868686;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
}
.upload-listing-content input[type="text"]{
    border-style: solid;
    border-width: 2px;
    border-color:  #ebebeb;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 100%;
    height: 46px;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 5px 10px;
}
.upload-listing-content textarea{
    border-style: solid;
    border-width: 2px;
    border-color:  #ebebeb;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 100%;
    height: 206px;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 5px 10px;
}
.upload-listing-content input[type="text"].wid50{width: 48%;}
.upload-listing-content input[type="submit"]{
    background: -webkit-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -moz-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -o-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -ms-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: linear-gradient(122deg, #e00015 26%, #e34d19 74%);
    width: 210px;
    height: 43px;
    display: inline-block;
    border-radius: 30px;
    color:  rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
}
.choose-file{
    background: -webkit-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -moz-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -o-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -ms-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: linear-gradient(122deg, #e00015 26%, #e34d19 74%);
    width: 148px;
    height: 38px;
    display: inline-block;
    border-radius: 30px;
    color:  rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
}
.up-photo p {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 6px 0px;
}
.up-photo {
    padding: 30px 20px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.upload-photos-block a{
    color:  #ed2e2e;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: underline;
    text-align: left;
    margin-bottom: 20px;
    display: inline-block;
}
.upload-photos-block p{
    color:  #a1a0a0;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}


.up-section {
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 100%;
    height: 107px;
    padding-top: 20px;
    margin-bottom: 30px;
    float: left;
    position: relative;
}
.upload-acc-photo .up-section {
    height: 170px;
    padding-top: 50px;
}
.up-section p {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}
.up-section .or {
    color: #999;
    font-weight: 300;
}
.up-section .choose {
    color: #ed2e2e;
    text-decoration: underline;
}
.up-section p.grey{
    color: #bababa;
}
.up-section a{
    color:  #ed2d2d;
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 76px;
}


/*    .uploader {position:relative; overflow:hidden; width:100%; height:100%; background:#f3f3f3; border:2px dashed #e8e8e8;}*/

.uploader {
    position: absolute;
/*    overflow: hidden;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 3px dashed #e8e8e8;
    text-align: center;
}

.uploader img {
    position: relative;
    width: auto;
    height: auto;
    top: -1px;
    left: -1px;
    z-index: 3;
    border: none;
    max-width: 100%;
    max-height: 100%;
    background: #fff;
    margin: 0 auto;
}
.upload-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
/*    visibility: hidden;*/
    opacity: 0;
}
.uploader img[src^="data:"] + .upload-bg, .uploader img[src^="ht"] + .upload-bg {
/*    visibility: visible;*/
    opacity: 1;
}
.up-section .delete {
    display: none;
}
.uploader img[src^="data:"] ~ .delete, .uploader img[src^="ht"] ~ .delete {
    display: block;
}
.uploader input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}


/**********************/
h3 {
    margin-bottom: 20px;
}
.content-section{
    padding: 50px 0;
}
.footer-grad{
    background: -webkit-linear-gradient(-32deg, #1796bd 38%, #00c4aa 62%);
    background: -moz-linear-gradient(-32deg, #1796bd 38%, #00c4aa 62%);
    background: -o-linear-gradient(-32deg, #1796bd 38%, #00c4aa 62%);
    background: -ms-linear-gradient(-32deg, #1796bd 38%, #00c4aa 62%);
    background: linear-gradient(122deg, #1796bd 38%, #00c4aa 62%);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'roboto';    font-weight: 300;
    font-size: 24px;
    font-weight: 300;
    line-height: 124px;
    text-align: right;
    height: 124px;
    text-align: center;
}
.footer-grad .center-float > span:nth-child(2) {
    padding-top: 41px;
    margin-left: 30px;
}
.footer-grad .btn-red {
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
}
.header-grad {
    background: -webkit-linear-gradient(-32deg, #1796bd 38%, #00c4aa 62%);
    background: -moz-linear-gradient(-32deg, #1796bd 38%, #00c4aa 62%);
    background: -o-linear-gradient(-32deg, #1796bd 38%, #00c4aa 62%);
    background: -ms-linear-gradient(-32deg, #1796bd 38%, #00c4aa 62%);
    background: linear-gradient(122deg, #1796bd 38%, #00c4aa 62%);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'roboto';    font-weight: 300;
    font-size: 27px;
    font-weight: 300;
    /*    line-height: 124px;*/
    text-align: right;
    height: 123px;
    text-align: center;

    height: auto;
    padding: 40px 0;
}


/*.header-grad > span  > *{
    display: inline-block;
    margin-right: 15px;
}
.header-grad > span > *:last-child{
    margin-right: 0px;
}
.header-grad > span > span{
    margin-top: 10px;
}*/

.section{
    margin-bottom: 50px;
}
.btn-red {
    background-color: #e00015;
    border-radius: 20px;
    /* width: 179px; */
    height: 43px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
    background: -webkit-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -moz-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -o-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -ms-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: linear-gradient(122deg, #e00015 26%, #e34d19 74%);
    border-radius: 30px;
    line-height: 43px;
    display: inline-block;
    padding: 0 25px;
    min-width: 120px;
}
.btn-red:hover{
    color: rgba(255, 255, 255, 0.90);
}



.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.h1{
    font-family: 'roboto';    font-weight: 300;
    font-size: 28px;
    font-weight: 300;
    line-height: 124px;
    text-align: right;
    height: 123px;
    text-align: center;
}

.h3{
    font-family: 'roboto';    font-weight: 300;
    color:  #000000;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
}
.h4{
    font-family: 'roboto';    font-weight: 300;
    color:  #000000;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
}
p.grey-info{
    color:  #868686;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
}
.input-text{
    border-style: solid;
    border-color: #dbdada;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 100%;
    height: 46px;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 5px 10px;
}
.input-area{
    border-style: solid;
    border-width: 2px;
    border-color:  #ebebeb;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 100%;
    height: 206px;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 5px 10px;
}
.form-control {
    box-shadow: none;
}
.menu-left{
    padding-top: 15px;
}
.menu-left a{
    margin-right: 25px;
}
.menu-right{
    padding-top: 5px;
}

.footer-part .creative {
    margin-bottom: 15px;
}
.footer-part a img {
    width: 30px;
    margin-right: 1px;
}

.btn-right {
    color: #e34d19;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 20px;
    height: 46px;
    font-size: 15px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
    border-radius: 30px;
    line-height: 43px;
    padding: 0 40px;
    padding-right: 70px;

    background: url(../images/arrow-right-red.png) no-repeat right 40px center;
    background-size: 20px auto;
}
.btn-right:hover {
    color: #e34d19;
}

.btn-arrow-right {
    display: inline-block;
    width: 2em;
    background: url(../images/arrow-right-white.png) no-repeat center center;
    background-size: 75% auto;
    margin-left: 0.6em;
}
.btn-arrow > span {
    display: inline-block;
    height: 100%;
}
.btn-arrow span span {
    float: left;
    height: 100%;
}

.center-float {
    display: inline-block;
    height: 100%;
}
.center-float > * {
    float: left;
    height: 100%;
}

/* About us */
.side-bar-wrapper {
    position: relative;
    padding-left: 280px;
    min-height: 300px;
}
.side-bar-left{
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
}
.side-menu{
    border-radius: 5px;
    width: 250px;
}
.side-menu li{
    border: 1px solid #e3e3e3;
    border-top: 0;
}
.side-menu li:first-child{
    border-top: 1px solid #e3e3e3;
}
.side-menu li a {
    display: block;
    padding: 20px 20px;
    overflow: hidden;
}
.side-menu li a .glyphicon {
    line-height: 1.43em;
    float: left;
    margin-right: 5px;
}
.side-menu li.active a{
    color: #e00015;
}
.top-logo{
    padding-top: 10px;
}
.about-image{
    float: left;
    margin: 10px 20px 20px 0;
}

.tile-full {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    border-radius: 5px;
}
.tile-full-top{
    padding: 20px;
}
.tile-full-top h5{
    font-weight: 300;
}
.tile-head {
    overflow: hidden;
    margin-bottom: 20px;
}
.tile-head .rating {
    margin-top: 15px;
}
.profile {
    padding: 5px 0;
    padding-left: 65px;
    position: relative;
}
.profile .prof-pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile .prof-pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile p {
    color: #999;
}
.profile h4{
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 17px;
}
.img-thumb-wrap {
    float: left;
    width: 12.5%;
    padding: 0 15px;
    margin-top: 15px;
}
.tile-footer {
    background-color: #eee;
    padding: 10px 20px;
    width: 100%;
    overflow: hidden;
}
.btn-edit{
    padding: 6px 10px;
    padding-left: 35px;
    background: url(../images/icon-edit.png) no-repeat 10px center;
}
.btn-eye{
    padding: 6px 10px;
    padding-left: 35px;
    background: url(../images/icon-eye.png) no-repeat 10px center;
}
.btn-trash{
    padding: 6px 10px;
    padding-left: 35px;
    background: url(../images/icon-trash.png) no-repeat 10px center;
}
.btn-eye:hover, .btn-edit:hover, .btn-trash:hover{
    color: #58585a;
    opacity: 0.8;
}
.tile-full .rating {
    font-size: 13px;
}
.tile-full .rated {
    text-transform: uppercase;
    color: #333;
}
.tile-full .rating-value{
    color: #e34d19;
}
.tile-full .rating-outof{
    color: #23d9c1;
}
.review-no{
    color: #999;
}
.no-data-found{
    text-transform: uppercase;
    color: #bbb;
    text-align: center;
    font-size: 15px;
}

.side-border {
    position: absolute;
    width: 0px;
    border-left: 1px solid #c9ecf7;
    top: 105px;
    left: 50px;
    z-index: 0;
    bottom: 70px;
}
.svg-wrapper.svg-100-per {
    position: absolute;
    top: auto;
    bottom: 30px;
    left: 0 !important;
}

.gradient-blue{
    background: -webkit-linear-gradient(-32deg, #1796bd 38%, #00c4aa 80%);
    background: -moz-linear-gradient(-32deg, #1796bd 38%, #00c4aa 80%);
    background: -o-linear-gradient(-32deg, #1796bd 38%, #00c4aa 80%);
    background: -ms-linear-gradient(-32deg, #1796bd 38%, #00c4aa 80%);
    background: linear-gradient(122deg, #1796bd 38%, #00c4aa 80%);
    color:  #fff;
}
.gradient-red {
    background-color: #e00015;
    color: #ffeaea;
    background: -webkit-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -moz-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -o-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: -ms-linear-gradient(-32deg, #e00015 26%, #e34d19 74%);
    background: linear-gradient(122deg, #e00015 26%, #e34d19 74%);
}

.tile-small {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin-bottom: 30px;
/*    overflow: hidden;*/
}
.small-tile-logo{
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    padding: 20px 20px;
    position: relative;

    height: 150px;
    background: transparent no-repeat center center;
    background-size: cover;
}
.small-tile-logo .rating{
    position: absolute;
    right: 30px;
    bottom: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 12px;
}
.small-tile-logo .delete{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 12px;
    background-color: #ddd;
    color: #aaa;
}
.small-tile-head{
    margin-bottom: 10px;
}
.small-tile-head h4 {
    /* font-size: 17px; */
    text-transform: uppercase;
    margin-bottom: 0;
}
.small-tile-head p {
    color: #aaa;
    font-size: 12px;
}
.small-tile-bottom{
    padding: 25px 20px 20px;
}
.two-line-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 20px;        /* fallback */
    height: 40px;       /* fallback */
}

.small-tile-bottom .two-line-text{
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
}
.small-tile-logo img {
    height: 80px;
    width: auto;
}
.tile-small .btn-red{
    width: 100%;
}
.verify-wrap {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    position: relative;
    padding-right: 0px;
}
.verify {
    background-color: #dbf1ef;
    color: #1692a9;
    font-size: 9px;
    line-height: 14px;
    margin-left: 5px;
    padding: 0 3px;
    position: absolute;
    top: 2px;
    right: 0;
    display: none;
}
.verified .verify-wrap{
    padding-right: 20px;
}
.verified .verify{
    display: block;
}

.ip {
    border: 1px solid #70efde;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
    padding: 7px 20px;
    font-weight: 300;
}
.ip.ip-text{
    color: #fff;
    width: 350px;
    border: 1px solid #70efde;
}
select.ip{
    padding: 9px 20px;
    outline: none;
}
select.ip:focus {
    outline: none;
}
.ip option{
    color: #555;
}

.center-box-wrap{
    display: inline-block;
}
.center-box-wrap > *{
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.center-box-wrap > *:last-child{
    margin-right: 0px;
}
.refresh {
    border-radius: 50%;
    color: #fff;
    padding: 10px 10px 12px 11px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.29);
}
.refresh span{
    color: #fff;
}

.slider{
    margin-bottom: 15px;
}
.carousel .slides li{
    height: 50px;
    background: transparent no-repeat center center;
    background-size: cover;
    border-radius: 6px;
    opacity: 0.5;
    cursor: pointer;
}
.carousel .slides li.flex-active-slide{
    opacity: 1;
}
.flex-direction-nav a {
    width: 50px;
    height: 50px;
    background-color: #00c4aa;
    border-radius: 50%;
}
.carousel .flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin-top: -15px;
}
.flex-direction-nav a:before {
    opacity: 0;
}
.flex-direction-nav .flex-next {
    background: #00c4aa url(../images/arrow-right-white.png) no-repeat center center;
    background-size: 60% auto;
}
.flex-direction-nav .flex-prev {
    background: #00c4aa url(../images/arrow-left-white.png) no-repeat center center;
    background-size: 60% auto;
}
.red-map-wrap{
    padding: 20px;
    border-radius: 10px;
}
.red-map-wrap *{
    color: #ffeaea;
}
.red-map-wrap .links div {
    margin-bottom: 5px;
}
.red-map-wrap .links a {
    color: #ffeaea;
    font-size: 0.95em;
    font-weight: 400;
}
.red-map-wrap .links .glyphicon {
    opacity: 0.75;
    margin-right: 10px;
}
.red-map-wrap .map-wrap{
    margin-top: 20px;
    margin-bottom: 10px;
}
.map-wrap{
    width: 100%;
    border-radius: 7px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.map{
    width: 100%;
}
.red-map-wrap  .map{
    height: 200px;
}
.red-map-wrap .h5 {
    color: #ffeaea;
}
.txt-red{
    color: #e00015;
}
.table-day {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
}
.table-day .h5{
    margin: 15px 20px;
}
.table-day table {
    width: 100%;
    font-size: 14px;
    color: #222;
}
.table-day tr:nth-child(odd){
    background-color: #E9F2F4;
}
.table-day td{
    padding: 5px 10px;
}
.table-day td:first-child {
    width: 120px;
    border-right: 1px solid #ddd;
    padding-left: 20px;
}
.h5 {
    text-transform: uppercase;
    font-size: 17px;
    color: #333;
    margin-bottom: 16px;
}
.ip-normal {
    width: 100%;
    border-radius: 5px;
    padding: 9px 10px;
    border: 1px solid #e3e3e3;
}
input[type="text"].ip-normal, input[type="email"].ip-normal, input[type="tel"].ip-normal{
    border: 1px solid #e3e3e3;
}
.section-contact .row{
    margin-bottom: 15px;
}
.section-review-all {
    background-color: #F6FBFD;
    background-color: #f2f8fb;
    padding: 20px;
}
.section-review-all {
    margin-top: 25px;
}
.section-reviews em{
    font-style: normal;
}
.section-reviews p {
    color: #333;
}
.section-reviews .star-view {
    margin-bottom: 10px;
}
.star-view > * {
    display: inline-block;
    float: left;
}
.star-view {
    overflow: hidden;
    margin-top: 10px;
}
.star-view span {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    color: #333;
    margin-left: 10px;
    font-weight: 600;
    margin-top: 3px;
}
.star-view .label-span {
    margin-left: 0px;
    font-weight: 400;
    margin-right: 20px;
}
.star-view img {
    height: 17px;
    margin-right: 2px;
}
.tags {
    overflow: hidden;
}
.tags .h5 {
    display: inline-block;
    float: left;
    margin-top: 3px;
    margin-right: 20px;
    margin-bottom: 3px;
}
.tag{
    display: inline-block;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 5px 7px;
    font-size: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.page-detail hr{
    margin: 28px 0;
}
.section-make-review .row {
    margin-bottom: 15px;
}
.section-make-review .ip-normal{
    border: 0 !important;
}
.section-make-review .star-view {
    margin-top: 0px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.sidebar-star {
    padding: 20px 30px;
    border: 1px solid #e3e3e3;
    margin: 30px 0;
    border-radius: 10px;
    text-align: center;
}
.sidebar-star .star-view {
    margin-top: 0px;
    display: inline-block;
}
.sidebar-star .btn-red{
    margin-top: 20px;
    width: 90%;
}
.side-social{
    padding: 20px 20px;
    border: 1px solid #e3e3e3;
    margin: 30px 0;
    border-radius: 10px;
    text-align: center;
}
.side-social img {
    width: 40px;
}
.social-top .tag {
    margin-right: 0;
    margin-left: 5px;
    padding: 2px 10px;
    margin-bottom: 0;
}
.right-menu > li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.right-menu > li:first-child {
    margin-left: 0px;
}
.dropdown-toggle span {
    font-size: 10px;
    color: #aaa;
    position: relative;
    bottom: 1px;
}
.dropdown-menu>li>a {
    padding: 6px 20px;
}
.logo-c {
    position: relative;
    bottom: 1px;
    width: 27px;
}
.settings{

}
/*.star-view img {
    display: none;
}*/
.jq-ry-container {
    padding: 0;
}
.section-reviews .profile {
    padding-left: 0;
}
.tile-pay .tile-head {
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 10px;
}
.tile-pay .profile {
    padding-left: 65px;
}
.tile-pay .profile h4 {
    font-size: 16px;
}
.tile-pay .profile p {
    font-size: 14px;
}
.tile-pay .small-tile-bottom {
    padding-top: 0;
}
.txt-red-big {
    color: #e00015;
    font-size: 35px;
    font-weight: 600;
    line-height: 46px;
    text-align: right;
}

.tile-pay .two-line-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-height: 20px;
    height: 100px;
}
.tile-pay .h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/**** New Styles ****/
footer {
    background-color: transparent;
}
.slide-item {
    width: 100%;
}
.flex-direction-nav a {
    color: transparent;
    text-indent: 100px;
    overflow: hidden;
    font-size: 0;
}

/*** Sign In and Sign Up ***/
#signin-form, #signup-form {
    text-align: center;
}
#signin-form input, #signup-form input {
    margin: 5px auto;
}
#signin-form h1, #signup-form h1 {
    margin-left: -65px;
}

/*** Dashboard***/
.tile-full .tile-head {
    min-height: 50px;
}


/*** Filter in Search ***/
.head-with-filter h3 {
    float: left;
}
.head-with-filter .flt_rt > * {
    float: left;
    margin-left: 15px;
    font-size: 13px;
}
.head-with-filter .flt_rt p {
    margin-top: 1px;
}
.head-with-filter .flt_rt select {
    border-radius: 20px;
    padding: 3px 10px;
    background-color: #f3f3f3;
    border: 0;
    color: #aaa;
}
.simplefavorite-button {
    padding: 5px 10px;
    font-size: 12px;
    background: -webkit-linear-gradient(-32deg, #1796bd 38%, #00c4aa 80%);
    background: -moz-linear-gradient(-32deg, #1796bd 38%, #00c4aa 80%);
    background: -o-linear-gradient(-32deg, #1796bd 38%, #00c4aa 80%);
    background: -ms-linear-gradient(-32deg, #1796bd 38%, #00c4aa 80%);
    background: linear-gradient(122deg, #1796bd 38%, #00c4aa 80%);
    color: #fff;
    border: 0;
    float: right;
}

.page-detail #crestashareiconincontent .sbutton {
    margin: 0px 5px;
}

.page-detail .profile p {
    margin-bottom: 3px;
}
.simplefavorite-button {
    padding: 3px 8px;
    font-size: 11px;
}

.page-detail .profile h4 {
    font-size: 22px;
}
.page-detail .col-xs-12 > .col-xs-8 {
    padding-left: 0;
}

select.ip {
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    -webkit-border-radius: 20px;
    line-height: 20px;
    
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAAElBMVEUAAAB3d3d3d3d3d3d3d3d3d3fpCSpvAAAABXRSTlMABDFAxXPXZ3sAAAAqSURBVAjXY2DAAUxDQcCRgRlEhQhABByBEswQLkjAEaySGcJlYFBkIAwAGE8HtOvtw8UAAAAASUVORK5CYII=);

    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 10px auto;
    padding-right: 25px;
}
.acc-settings .btn-red {
    margin-top: 15px;
}

.up-section .delete {
    z-index: 8;
    cursor: pointer;
    
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 12px;
    background-color: #ddd;
    color: #aaa;
}

.slider {
    -ms-transition: height .5s;
    -moz-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    overflow: hidden;
}

.flexslider .slides img {
    width: auto;
    max-width: 100%;
    max-height: 600px;
    margin: 0 auto;
}
.about-content > p{
    white-space: pre-wrap;
}
